<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#rbSidebar"
            aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="collapse navbar-collapse justify-content-between">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" *ngIf="isAuthenticated" routerLink="/recipes">Recipes</a>
        <a class="nav-link" routerLinkActive="active" *ngIf="isAuthenticated" routerLink="/shopping-list">Shopping
          List</a>
      </div>
      <div class="navbar-nav">
        <div class="dropdown" appDropdown *ngIf="false">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Manage </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </div>
        <div *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
