<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-8">
          <div class="col-8">
            <div class="form-group">
              <input
                type="text"
                id="websiteURL"
                formControlName="websiteURL"
                class="form-control"
                placeholder="Website URL">
            </div>
          </div>
          <button type="button" class="btn " (click)="onPopulate()">URL Populate</button>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
        <div class="col-8">
          <img [src]="imagePath.value"
               class="img-responsive"
               style="max-height: 300px"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="prepTime">Prep Time</label>
            <input
              type="number"
              id="prepTime"
              formControlName="prepTime"
              class="form-control">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="cookTime">Cook Time</label>
            <input
              type="number"
              id="cookTime"
              formControlName="cookTime"
              class="form-control">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="totalTime">Total Time</label>
            <input
              type="number"
              id="totalTime"
              formControlName="totalTime"
              class="form-control">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="servings">Servings</label>
            <input
              type="number"
              id="servings"
              formControlName="servings"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of ingredientControl(); let i = index"
               [formGroupName]="i"
               style="margin-top: 10px"
          >
            <div class="col-10 sm-padding">
              <input
                type="text"
                class="form-control"
                formControlName="name"
              >
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >X
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-success" (click)="onAddIngredient()">Add Ingredient
              </button>
            </div>
          </div>
        </div>
        <div class="col-8" formArrayName="instructions">
          <div class="row"
               *ngFor="let ingredientCtrl of instructionControl(); let i = index"
               [formGroupName]="i"
               style="margin-top: 10px;"
          >
            <div class="col-10">
              <input
                type="text"
                class="form-control"
                formControlName="instruction"
              >
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteInstruction(i)"
              >X
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-success" (click)="onAddInstruction()">Add Instruction
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
