<div class="row">
  <div class="col-sm-12 center-image">
    <img
      [src]="recipe?.imagePath"
      alt=""
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{recipe?.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 ">
    <div class="btn-group col-sm-6" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="servings-and-times col-sm-10">
    <div class="col-sm-2">
      <div class="">
        <label>Servings:</label>
        {{recipe?.servings}}
      </div>
      <div class="">
        <label>Total Time:</label>
        {{recipe?.totalTime}}
      </div>
    </div>
    <div class="col-2">
      <div class="">
        <label>Cook Time:</label>
        {{recipe?.cookTime}}
      </div>
      <div class="">
        <label>Prep Time:</label>
        {{recipe?.prepTime}}
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 15px; margin-top: 15px">
  <div class="col-sm-12">
    {{recipe?.description}}
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let ingredient of recipe?.ingredients">
        {{ingredient.name}}
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <ul class="list-group list-group-flush list-group-numbered">
      <li class="list-group-item" *ngFor="let instruction of recipe?.instructions">
        {{instruction.instruction}}
      </li>
    </ul>
  </div>
</div>
