<div style="cursor: pointer; padding: 20px" [routerLink]="[index]" routerLinkActive="active"
     data-bs-dismiss="offcanvas" data-bs-target="#rbSidebar" class="card list-group-item-action w-100">
  <div class="d-flex justify-content-center align-items-center">
    <!--    <img [src]="recipe.imagePath" alt="{{recipe.name}}" (error)="imageError = true" [hidden]="imageError" class="card-img-top" style="max-width: 100%; height: auto">-->
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" (error)="imageError = true" [hidden]="imageError"
         class="card-img-top" style="max-width: 75%">
    <!--    <img [src]="recipe.imagePath" alt="{{recipe.name}}" (error)="imageError = true" [hidden]="imageError" class="card-img-top" style="max-width: 400px; max-height: 400px">-->
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ recipe.name }}</h4>
    <p class="card-text">{{ recipe.description }}</p>
  </div>
</div>
