<nav id="" class="text-center" style="padding: 5px">
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
    <div class="col-sm-7">
      <input class="form-control" type="text" placeholder="Filter recipes..." [formControl]="searchControl">
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-sm-12 d-flex justify-content-center">
      <div class="list-group w-100">
        <app-recipe-item

          *ngFor="let recipeElement of filteredRecipes; let i = index"
          [recipe]="recipeElement"
          [index]="i"
          style="padding: 5px"></app-recipe-item>
      </div>
    </div>
  </div>
</nav>
